<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Treddit</h2>
        <h3>Hot</h3>

        <div class="accordion" id="accordionExample">
        {{#each redditHot}}
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link expand-comments" type="button" data-id="{{this.id}}" data-toggle="collapse" data-target="#collapse{{this.id}}" aria-expanded="true" aria-controls="collapseOne">
                  <!--<a href="/thread/{{this.id}}"></a>-->
                  {{this.title}}
                </button>
              </h5>
            </div>

            <div id="collapse{{this.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body" id="comments-body-{{this.id}}">
              </div>
            </div>
          </div>
        {{/each}}

        </div>



        <ul id="example-list" class="list-group">
          <li class="list-group-item">
            {{this.subreddit.display_name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
